@charset "UTF-8";
.btn-item {
  font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
  display: grid;
  place-items: center;
  color: #64ffda;
  border: 1px solid #64ffda;
  border-radius: 5px;
}

.description {
  margin: 20px 0 50px;
  color: #8892b0;
}

.number {
  color: #64ffda;
}

body {
  padding: 0 20px;
  inline-size: 100%;
  block-size: 100vh;
  font-family: "Calibre", "Inter", "San Francisco", "SF Pro Text", -apple-system, system-ui, sans-serif;
  background-color: #0a192f;
}

header {
  inline-size: 100%;
  block-size: 100px;
}
header .header__section {
  block-size: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .header__section .header__icon {
  block-size: 35px;
  inline-size: 35px;
  display: grid;
  place-items: center;
  border: 2px solid #64ffda;
  transform: rotateZ(-45deg);
}
header .header__section .header__icon .fa-fire-flame-curved {
  block-size: 70%;
  inline-size: 70%;
  color: #64ffda;
  transform: rotateZ(45deg);
}
header .header__section .header__bars {
  block-size: 40px;
  inline-size: 40px;
}
header .header__section .header__bars .fa-bars-staggered {
  inline-size: 100%;
  block-size: 100%;
  color: #64ffda;
}
header .header__section .header__navbar {
  display: none;
}

main {
  inline-size: 100%;
  min-block-size: 100vh;
  padding-block-start: 50px;
}
main .main-content {
  inline-size: 100%;
  padding-block-end: 150px;
}
main .main-content p:nth-child(1) {
  font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
  color: #64ffda;
}
main .main-content h1 {
  margin: 5px 0;
  font-size: 40px;
  font-weight: bold;
  color: #ccd6f6;
}
main .main-content h2 {
  font-size: 35px;
  color: #8892b0;
  font-weight: bold;
}
main .main-content .btn-resume {
  inline-size: 230px;
  block-size: 60px;
  font-size: 1.4rem;
}
main .aboutme-section {
  padding-block-end: 150px;
}
main .aboutme-section h2 {
  margin-bottom: 30px;
  inline-size: 100%;
  font-size: 25px;
  font-weight: 600;
  display: grid;
  grid-template-columns: auto max-content 1fr;
  align-items: center;
  color: #ccd6f6;
}
main .aboutme-section h2 span {
  font: normal 1.6rem "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
  padding-right: 10px;
}
main .aboutme-section h2::after {
  content: "";
  inline-size: 100%;
  block-size: 1px;
  display: block;
  color: rgb(35, 53, 84);
  box-shadow: 10px 1px 0 0 currentColor;
}
main .aboutme-section .abt-description {
  margin: 10px 0;
}
main .aboutme-section .list-tech {
  font: 1.3rem "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
  list-style-type: none;
  display: grid;
  grid-template: repeat(3, max-content)/1fr 1fr;
  gap: 10px 15px;
}
main .aboutme-section .list-tech li::before {
  content: "▹";
  color: #64ffda;
  margin-right: 10px;
}
main .aboutme-section .perfil-photo__container {
  inline-size: 100%;
  display: flex;
  justify-content: flex-end;
}
main .aboutme-section .perfil-photo__container .perfil-photo {
  position: relative;
  inset-inline-end: 45px;
  inline-size: 200px;
  block-size: 200px;
  border: 2px solid #64ffda;
  border-radius: 5px;
}
main .aboutme-section .perfil-photo__container .perfil-photo img {
  position: absolute;
  inset-inline-start: -20px;
  inset-block-start: -20px;
  border-radius: 5px;
}
main .experience-section {
  min-block-size: 100vh;
  margin-block-end: 50px;
  color: #8892b0;
}
main .experience-section h2 {
  margin-bottom: 30px;
  inline-size: 100%;
  font-size: 25px;
  font-weight: 600;
  display: grid;
  grid-template-columns: auto max-content 1fr;
  align-items: center;
  color: #ccd6f6;
}
main .experience-section h2 span {
  font: normal 1.6rem "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
  padding-right: 10px;
}
main .experience-section h2::after {
  content: "";
  inline-size: 100%;
  block-size: 1px;
  display: block;
  color: rgb(35, 53, 84);
  box-shadow: 10px 1px 0 0 currentColor;
}
main .experience-section .experience-companies {
  display: flex;
  overflow-x: auto;
  margin-block-end: 50px;
}
main .experience-section .experience-companies .companies {
  display: block;
  padding: 15px 20px;
  font: 1.3rem "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
  cursor: pointer;
}
main .experience-section .experience-description-container {
  position: relative;
}
main .experience-section .experience-description-container .experience-description {
  position: absolute;
}
main .experience-section .experience-description-container .experience-description h3 {
  margin-block-end: 10px;
  font-size: 1.8rem;
  color: #ccd6f6;
}
main .experience-section .experience-description-container .experience-description h3 span {
  color: #64ffda;
}
main .experience-section .experience-description-container .experience-description p {
  font: 1.3rem "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
  margin-block-end: 20px;
}
main .experience-section .experience-description-container .experience-description ul {
  position: relative;
  display: flex;
  flex-direction: column;
}
main .experience-section .experience-description-container .experience-description ul li {
  margin-block-end: 15px;
  padding-inline-start: 30px;
}
main .experience-section .experience-description-container .experience-description ul li::before {
  position: absolute;
  content: "▹";
  color: #64ffda;
  margin-right: 10px;
  inset-inline-start: 0;
}
main .projects-section {
  inline-size: 100%;
  min-block-size: 100vh;
}
main .projects-section h2 {
  margin-bottom: 30px;
  inline-size: 100%;
  font-size: 25px;
  font-weight: 600;
  display: grid;
  grid-template-columns: auto max-content 1fr;
  align-items: center;
  color: #ccd6f6;
}
main .projects-section h2 span {
  font: normal 1.6rem "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
  padding-right: 10px;
}
main .projects-section h2::after {
  content: "";
  inline-size: 100%;
  block-size: 1px;
  display: block;
  color: rgb(35, 53, 84);
  box-shadow: 10px 1px 0 0 currentColor;
}
main .projects-section .projects-container {
  inline-size: 100%;
  display: grid;
  gap: 30px 0;
}
main .projects-section .projects-container .project-item {
  padding: 30px 20px;
  background-color: rgba(100, 255, 218, 0.1);
}
main .projects-section .projects-container .project-item p:first-child {
  margin-bottom: 10px;
  font: 1.3rem "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
  color: #64ffda;
}
main .projects-section .projects-container .project-item h3 {
  color: #ccd6f6;
  font-size: 2rem;
  font-weight: bold;
  margin-block-end: 30px;
}
main .projects-section .projects-container .project-item .description {
  font-size: 1.6rem;
  margin-block-end: 30px;
}
main .projects-section .projects-container .project-item .editors {
  margin-block-end: 20px;
  display: flex;
  flex-wrap: wrap;
}
main .projects-section .projects-container .project-item .editors .editor-name {
  font: 1.4rem "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
  display: block;
  padding: 5px 14px 5px 0;
  color: #8892b0;
}
main .projects-section .projects-container .project-item .hosted {
  display: flex;
  color: #8892b0;
}
main .projects-section .projects-container .project-item .hosted .github {
  margin-inline-end: 20px;
}
main .projects-section .projects-container .project-item .hosted .svg-inline--fa {
  inline-size: 20px;
  block-size: 20px;
}
main .other-projects-section {
  inline-size: 100%;
  min-block-size: 100vh;
  padding: 150px 0;
  display: flex;
  flex-direction: column;
}
main .other-projects-section .title {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  color: #ccd6f6;
  margin-block-end: 15px;
}
main .other-projects-section .files {
  font: 1.4rem "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
  text-align: center;
  color: #64ffda;
  margin-block-end: 30px;
}
main .other-projects-section .other-projects-container {
  margin-block-start: 30px;
  display: grid;
  gap: 30px 0;
}
main .other-projects-section .other-projects-container .projects {
  padding: 30px 20px;
  background-color: #112240;
}
main .other-projects-section .other-projects-container .projects .sources {
  margin-block-end: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .other-projects-section .other-projects-container .projects .sources .svg-inline--fa {
  inline-size: 20px;
  block-size: 20px;
  color: #8892b0;
}
main .other-projects-section .other-projects-container .projects .sources .fa-folder {
  inline-size: 40px;
  block-size: 40px;
  color: #64ffda;
}
main .other-projects-section .other-projects-container .projects .sources .github {
  margin-inline-end: 20px;
}
main .other-projects-section .other-projects-container .projects h3 {
  font-size: 2rem;
  font-weight: bold;
  color: #ccd6f6;
}
main .other-projects-section .other-projects-container .projects .techs {
  inline-size: 100%;
  display: flex;
}
main .other-projects-section .other-projects-container .projects .techs span {
  font: 1.4rem "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
  padding: 5px 14px 5px 0;
  display: block;
  color: #8892b0;
}
main .other-projects-section .show-more {
  margin-block-start: 80px;
  inline-size: 150px;
  block-size: 60px;
  font: 1.4rem "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
  display: grid;
  place-items: center;
  align-self: center;
}
main .get-in-touch {
  padding-block-end: 150px;
  inline-size: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .get-in-touch .next {
  margin-block-end: 10px;
  font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
  color: #64ffda;
}
main .get-in-touch h2 {
  font-size: 3.2rem;
  font-weight: bold;
  color: #ccd6f6;
}
main .get-in-touch .description {
  text-align: center;
  line-height: 1.5;
}
main .get-in-touch .hello {
  inline-size: 150px;
  block-size: 60px;
  font-size: 1.4rem;
  display: grid;
  place-items: center;
}

footer {
  min-block-size: 20vh;
  padding-block-end: 50px;
  inline-size: 100%;
}
footer .social-medias {
  display: flex;
  justify-content: space-evenly;
  margin-block-end: 20px;
}
footer .social-medias a {
  color: #8892b0;
}
footer .social-medias a .svg-inline--fa {
  inline-size: 20px;
  block-size: 20px;
}
footer .copyright {
  font: 1.4rem "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
  text-align: center;
  color: #8892b0;
}

/*# sourceMappingURL=main.css.map */
