head
		meta(charset="utf-8")
		meta(name="robots" content="index,follow")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		meta(name="description" content="main page")
		link(rel="icon" sizes="192x192" href="https://cdn.freebiesupply.com/logos/large/2x/linux-tux-1-logo-png-transparent.png")
		link(rel="stylesheet", href="../css/main.css")
		link(rel="stylesheet", href="../css/resets.css")
		script(src="https://kit.fontawesome.com/fc21a592b3.js" crossorigin="anonymous" async) 
		title My portfolio