header 
    section.header__section
        .header__icon
            i.fa-solid.fa-fire-flame-curved
        .header__bars
            i.fa-solid.fa-bars-staggered
        nav.header__navbar  
            div.navbar 
                a(href="#about").navbar__item #[span.number 01.] About
                a(href="#experience").navbar__item #[span.number 02.] Experience
                a(href="#work").navbar__item #[span.number 03.] Work
                a(href="#contact").navbar__item #[span.number 04.] Contact
                a(href="#").navbar__item.btn-item Resume